.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
Publish.R
COVID Analysis.R
SomeCovidAnalyses.Rproj
figure
COVID-Analysis_files
.csv
covid_confirmed_usafacts.csv
covid_deaths_usafacts.csv
.gif
US_Cases.gif
State_population.csv
US_Cases_Map.gif
US_Deaths_Map.gif
US_New_Cases_Map.gif
US_New_Deaths_Map.gif
US_Deaths.gif
NE_Cases_Map.gif
NE_Deaths_Map.gif
NE_New_Cases_Map.gif
NE_New_Deaths_Map.gif
NE_Recent_Cases_Map.gif
NE_Recent_Deaths_Map.gif
